@media (max-width: 2000px) {
   html{
    font-size: 50%;
   }
   svg{
    width: 70%;
    height: 70%;
   }
}
@media (max-width: 1300px) {
    html{
     font-size: 45%;
    }
 }
 @media (max-width: 800px) {
    html{
     font-size: 40%;
    }
    svg{
        width: 60%;
        height: 60%;
       }
 }
 @media (max-width: 750px) {
    main{
        width: 100%;
        /* min-width: 60rem; */
    }
    svg{
        width: 80%;
        /* margin-top: 5rem; */
    }
    .first_page{
        flex-direction: column;
    }
    .left_fundo{
        width: 100%;
        background-color: #00154F;
        opacity: 100%;
        right: 0;
    }
    .left{
        width: 100%;
        margin-top: 100px;
        /* margin-left: 5rem; */
        /* text-align: center; */
      
    }
    .first_page h2{
        margin-left: 5rem;
    }
    .first_page h1{
        margin-left: 5rem;
    }
    .text_1{
        width: 90%;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .text_2{
        width: 90%;
        margin: 0;
        margin-left: 5rem;
        margin-right: 10rem;
        margin-bottom: 7rem;
    }
    .logo_first_page{
        text-align: center;
        margin: 0;
    }
    .right{
        width: 100%;
        text-align: center;
    }
    .right p{
        margin-top: 0;
        text-align: center;
    }
    .form input{
        background-color: rgb(255, 255, 255);
    }
    .form input::placeholder{
        color: black;
    }
    .third_page{
        height: 800px;
        background-color: #00154F;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .third_page h4{
        font-size: 3rem;
    }
    .third_page p{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .flex_settings{
        flex-direction: column;
        gap: 50px;
    }
    .fundo2{
        overflow: hidden;
    }
    .fourth_page p{
        text-align: center;
    }
    .margin_top{
        margin-top: 0;
        margin: auto;
    }
    .five_page{
        height: 800px;
        background-color: #00154F;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 150px;
    }
    .five_page p{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .logo{
        margin: 0;
        width: 200px;
    }
    .first_item2,
    .second_item2,
    .third_item2
    {
        margin: 0;
    }

    /* pagina de compra */

    .fundo6{
        background-image: none;
        height: 200rem;
        background-color: #00154F;
    }
    .plan_title{
        padding-top: 10rem;
    }
    .plan_title h1{
        margin: 0;
        color: white;
        font-size: 8rem;
        text-align: center;
    }
    .plans{
        flex-direction: column;
        align-items: center;
        gap: 20rem;
    }
    
    .plan_1,
    .plan_2,
    .plan_3{
        width: 100%;
    }
    .Plan_name h1{
        color: #F4AF1B;
        font-size: 5rem;
        margin-bottom: 0;
    }
    .Plan_name p{
        color: white;
        font-size: 2rem;
        margin-top: 0;
    }
    .Plan_price{
        text-align: center;
    }
    .Plan_price h1{
        color: #F4AF1B;
        font-size: 6rem;
        margin-bottom: 0;
    }
    .Plan_price p{
        color: white;
        font-size: 2rem;
        margin-top: 0;
    }
    .plans button{
        background-color:#F4AF1B;
        color: white;
        font-size: 3rem;
        margin-top: 3rem;
        width: 40%;
        text-align: center;
        border-radius: 25px;
    }
    @media (max-width: 570px) {
        html{
         font-size: 35%;
        }
        .logo{
            width: 150px;
        }
        .plan_title{
            padding-top: 0rem;
        }
     }
     @media (max-width: 400px) {
        html{
         font-size: 30%;
        }
    }
    @media (max-width: 280px) {
        .logo_4page{
            width: 200px;
        }
        .right{
            padding-top: 10rem;
        }
        .logo_first_page{
            width: 200px;
            margin: auto;
        }
    }
 }